/* destination-cards.css */

.destination-card {
    background-color: #333; /* Dark gray */
    color: #fff; /* White */
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .destination-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  .destination-image {
    width: 100%;
    height: 200px; 
    object-fit: cover;
  }
  
  .destination-card-content {
    padding: 20px;
  }
  
  .destination-card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  